.srpw--media {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}
.srpw--media a img {
    margin-right: 1rem !important;
    display: inline-block;
    max-width: 90px;
    min-height: 80px;
    object-fit: cover;
}
.srpw--media-body h6 {
    margin-top: 0px !important;
    margin-bottom: 10px;
    font-size: 18px;
}
.srpw--media p {
    margin-bottom: 0px;
    font-size:16px;
}
